<div id="header" class="container-fluid">

  <a href="/" class="brand pull-left">
    <img src="/assets/img/headerlogo.png" />
    <span>{{ site.title }}</span>
  </a>

  <ul class="nav nav-pills pull-right">
    <li><a href="/thechurch.html">Our Church</a>
    <li><a href="/join.html">Service Times</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Publications
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/challenger.pdf">The New Challenger</a></li>
        <li><a href="/pewsheet.pdf">Pewsheet</a></li>
      </ul>
    </li>
    <li><a href="/thechurch.html">Contact Us</a>
    <li><a href="/thechurch.html">Find Us</a>
  </ul>

</div>
